
@{
    ViewBag.Title = "GetPrint";
}

<h2>Bill Details</h2>


<div class="table-responsive">
    <hr />
    <table>
        <tr>
            <td><h1>Bill No:</h1></td>

        </tr>
        <tr>
            <td>Bill Date</td>
            <td>Time</td>
        </tr>

        <br />
        <tr>
            <td>Customer Name</td>
            <td>Contact No</td>
            <td>User Name</td>
        </tr>

    </table>
        <table>
            <thead>
            <th>Item Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            </thead>
            <hr />

        </table>
        <hr />
        <label>Delivery Date</label>
        <label>Delivery Time</label>
        <hr />
        <label>Terms & Conditions</label>
        <hr />
        <label>Thank you for choosing Laundry</label>
</div>